@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:300);
h1 {
  color: #A1DBB2;
}

h2 {
  color: #ffffff;
}

.bg-coral {
  background: #F45D4C;
}
.bg-coral:after {
  content: "background: color(coral);";
}

.coral {
  color: #F45D4C;
}

.bg-orange {
  background: #F7A541;
}
.bg-orange:after {
  content: "background: color(orange);";
}

.orange {
  color: #F7A541;
}

.bg-green {
  background: #A1DBB2;
}
.bg-green:after {
  content: "background: color(green);";
}

.green {
  color: #A1DBB2;
}

.bg-yellow {
  background: #FACA66;
}
.bg-yellow:after {
  content: "background: color(yellow);";
}

.yellow {
  color: #FACA66;
}

.bg-blue {
  background: #54787D;
}
.bg-blue:after {
  content: "background: color(blue);";
}

.blue {
  color: #54787D;
}

.bg-teal {
  background: #60B99A;
}
.bg-teal:after {
  content: "background: color(teal);";
}

.teal {
  color: #60B99A;
}

.bg-purple {
  background: #5B527F;
}
.bg-purple:after {
  content: "background: color(purple);";
}

.purple {
  color: #5B527F;
}

.bg-gray {
  background: #555555;
}
.bg-gray:after {
  content: "background: color(gray);";
}

.gray {
  color: #555555;
}

.bg-white {
  background: #ffffff;
}
.bg-white:after {
  content: "background: color(white);";
}

.white {
  color: #ffffff;
}

.bg-black {
  background: #000000;
}
.bg-black:after {
  content: "background: color(black);";
}

.black {
  color: #000000;
}

body {
  background: #2f2a41;
  font-family: "Josefin Slab", sans-serif;
  font-weight: 300;
  margin: 0;
  padding-top: 1rem;
}

section {
  margin: 0 auto 2rem;
  display: block;
  overflow: hidden;
}

.main {
  margin: 0 auto;
  max-width: 620px;
  width: 90%;
}
@media (min-width: 42.5em) {
  .main {
    width: 100%;
  }
}

div:not(.main) {
  float: left;
  height: 90px;
  position: relative;
  width: 100%;
}
@media (min-width: 30em) {
  div:not(.main) {
    width: 50%;
  }
}
@media (min-width: 42.5em) {
  div:not(.main) {
    width: 33.333%;
  }
}
div:not(.main):after {
  background-color: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  bottom: 0;
  color: #ffffff;
  font-family: monospace;
  font-size: 0.875rem;
  padding: 0.5rem;
  position: absolute;
  width: 100%;
}

h1, h2, h3, pre, code, section {
  font-weight: 300;
  margin: 0.15rem auto;
  padding: 0.5rem 0;
}

h1 {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 0;
}

h2 {
  font-size: 1.4rem;
}

pre {
  background-color: #2a263b;
  box-sizing: border-box;
  color: #FACA66;
  margin-bottom: 2rem;
  padding: 0.75rem 1rem;
}

code {
  box-sizing: border-box;
  display: block;
  float: left;
  padding: 0.15rem 0;
  width: 100%;
}
@media (min-width: 42.5em) {
  code {
    width: 50%;
  }
}

input, select, button {
  padding: 5px 10px;
  background: #FACA66;
  color: #000000;
  margin-bottom: 10px;
}

img {
  width: 30%;
  float: right;
}

.link {
  text-decoration: underline;
  color: white
}
